## Practice Exercise 2

In this assignment, you will try to find some interesting insights into a few movies released between 1916 and 2016, using Python. You will have to download a movie dataset, write Python code to explore the data, gain insights into the movies, actors, directors, and collections, and submit the code.

#### Some tips before starting the assignment

1. Identify the task to be performed correctly, and only then proceed to write the required code. Don’t perform any incorrect analysis or look for information that isn’t required for the assignment.
2. In some cases, the variable names have already been assigned, and you just need to write code against them. In other cases, the names to be given are mentioned in the instructions. We strongly advise you to use the mentioned names only.
3. Always keep inspecting your data frame after you have performed a particular set of operations.
4. There are some checkpoints given in the IPython notebook provided. They're just useful pieces of information you can use to check if the result you have obtained after performing a particular task is correct or not.
5. Note that you will be asked to refer to documentation for solving some of the questions. That is done on purpose for you to learn new commands and also how to use the documentation.

In [2]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

### Task 1: Reading and Inspection

**Subtask 1.1: Import and read**

Import and read the movie database. Store it in a variable called `movies`.

In [4]:
# Write your code for importing the csv file here
movies = pd.read_csv('Movie_dataset\Movies.csv')

movies.head(5)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000

**Subtask 1.2: Inspect the dataframe**

Inspect the dataframe's columns, shapes, variable types etc.

In [5]:
# Write your code for inspection here
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3853 entries, 0 to 3852
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      3851 non-null   object
 1   director_name              3853 non-null   object
 2   num_critic_for_reviews     3852 non-null   float64
 3   duration                   3852 non-null   float64
 4   director_facebook_likes    3853 non-null   float64
 5   actor_3_facebook_likes     3847 non-null   float64
 6   actor_2_name               3852 non-null   object
 7   actor_1_facebook_likes     3853 non-null   float64
 8   gross                      3853 non-null   float64
 9   genres                     3853 non-null   object
 10  actor_1_name               3853 non-null   object
 11  movie_title                3853 non-null   object
 12  num_voted_users            3853 non-null   int64
 13  cast_total_facebook_likes  3853 non-null   int64
 14  actor_3_name               3847 non-null   object
 15  facenumber_in_poster       3847 non-null   float64
 16  plot_keywords              3823 non-null   object
 17  movie_imdb_link            3853 non-null   object
 18  num_user_for_reviews       3853 non-null   float64
 19  language                   3849 non-null   object
 20  country                    3853 non-null   object
 21  content_rating             3805 non-null   object
 22  budget                     3853 non-null   float64
 23  title_year                 3853 non-null   float64
 24  actor_2_facebook_likes     3852 non-null   float64
 25  imdb_score                 3853 non-null   float64
 26  aspect_ratio               3781 non-null   float64
 27  movie_facebook_likes       3853 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 843.0+ KB

#### <font color='red'>Question 1: How many rows and columns are present in the dataframe? </font>
-  (3821, 26)
-  (3879, 28)
-  (3853, 28) -> Correct
-  (3866, 26)

#### <font color='red'>Question 2: How many columns have null values present in them? Try writing a code for this instead of counting them manually.</font>

-  <font color='red'>3</font>
-  <font color='red'>6</font>
-  <font color='red'>9</font>
-  <font color='red'>12</font> -> Correct

In [10]:
# Finding columns with Null values

print((movies.isnull().sum()>0).sum())

12

### Task 2: Cleaning the Data

**Subtask 2.1: Drop unecessary columns**

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc.<br>So many of the columns in this dataframe are not required.<br>So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [12]:
# Check the 'drop' function in the Pandas library - dataframe.drop(list_of_unnecessary_columns, axis = )
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of operations

movies.drop(['color', 'director_facebook_likes', 'actor_1_facebook_likes', 'actor_2_facebook_likes',
            'actor_3_facebook_likes', 'actor_2_name', 'cast_total_facebook_likes', 'actor_3_name',
             'duration', 'facenumber_in_poster', 'content_rating', 'country', 'movie_imdb_link',
              'aspect_ratio', 'plot_keywords'], axis=1, inplace=True)

movies

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237000000.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300000000.0,2007.0,7.1,0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245000000.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250000000.0,2012.0,8.5,164000
4,Andrew Stanton,462.0,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263700000.0,2012.0,6.6,24000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3848,Shane Carruth,143.0,424760.0,Drama|Sci-Fi|Thriller,Shane Carruth,Primer,72639,371.0,English,7000.0,2004.0,7.0,19000
3849,Neill Dela Llana,35.0,70071.0,Thriller,Ian Gamazon,Cavite,589,35.0,English,7000.0,2005.0,6.3,74
3850,Robert Rodriguez,56.0,2040920.0,Action|Crime|Drama|Romance|Thriller,Carlos Gallardo,El Mariachi,52055,130.0,Spanish,7000.0,1992.0,6.9,0
3851,Edward Burns,14.0,4584.0,Comedy|Drama,Kerry Bishé,Newlyweds,1338,14.0,English,9000.0,2011.0,6.4,413
3852,Jon Gunn,43.0,85222.0,Documentary,John August,My Date with Drew,4285,84.0,English,1100.0,2004.0,6.6,456

**Subtask 2.2: Inspect Null values**

As you have seen above, there are null values in multiple columns of the dataframe 'movies'. Find out the percentage of null values in each column of the dataframe 'movies'.

In [15]:
# Write you code here

round(100*(movies.isnull().sum()/len(movies.index)), 2)

director_name             0.00
num_critic_for_reviews    0.03
gross                     0.00
genres                    0.00
actor_1_name              0.00
movie_title               0.00
num_voted_users           0.00
num_user_for_reviews      0.00
language                  0.10
budget                    0.00
title_year                0.00
imdb_score                0.00
movie_facebook_likes      0.00
dtype: float64

In [16]:
movies.isnull().sum()

director_name             0
num_critic_for_reviews    1
gross                     0
genres                    0
actor_1_name              0
movie_title               0
num_voted_users           0
num_user_for_reviews      0
language                  4
budget                    0
title_year                0
imdb_score                0
movie_facebook_likes      0
dtype: int64

#### <font color='red'>Question 4: Which column has the highest percentage of null values? </font>
-  <font color='red'>language</font> -> Correct
-  <font color='red'>genres</font>
-  <font color='red'>num_critic_for_reviews</font>
-  <font color='red'>imdb_score</font>

**Subtask 2.3: Fill NaN values**

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [17]:
# Write your code for filling the NaN values in the 'language' column here

movies['language'].fillna('English', inplace=True)

In [18]:
movies['language'].value_counts()

language
English       3675
French          37
Spanish         26
Mandarin        14
German          13
Japanese        12
Hindi           10
Cantonese        8
Italian          7
Portuguese       5
Korean           5
Norwegian        4
Thai             3
Persian          3
Danish           3
Dutch            3
Dari             2
Indonesian       2
Hebrew           2
Aboriginal       2
Arabic           1
Russian          1
Vietnamese       1
Dzongkha         1
Romanian         1
Zulu             1
Bosnian          1
Czech            1
Icelandic        1
Hungarian        1
Mongolian        1
Aramaic          1
Telugu           1
Kazakh           1
Maya             1
Filipino         1
Swedish          1
Name: count, dtype: int64

#### <font color='red'>Question 5: What is the count of movies made in English language after replacing the NaN values with English? </font>
-  <font color='red'>3670</font>
-  <font color='red'>3674</font>
-  <font color='red'>3668</font>
-  <font color='red'>3672</font>

### Task 3: Data Analysis

**Subtask 3.1: Change the unit of columns**

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [ ]:
# Write your code for unit conversion here

**Subtask 3.2: Find the movies with highest profit**

   1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
   2. Sort the dataframe using the `profit` column as reference. (Find which command can be used here to sort entries from the documentation)
   3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [19]:
# Write your code for creating the profit column here
movies['net_profit'] = movies['gross'] - movies['budget']

movies

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,net_profit
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237000000.0,2009.0,7.9,33000,523505847.0
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300000000.0,2007.0,7.1,0,9404152.0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245000000.0,2015.0,6.8,85000,-44925825.0
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250000000.0,2012.0,8.5,164000,198130642.0
4,Andrew Stanton,462.0,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263700000.0,2012.0,6.6,24000,-190641321.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3848,Shane Carruth,143.0,424760.0,Drama|Sci-Fi|Thriller,Shane Carruth,Primer,72639,371.0,English,7000.0,2004.0,7.0,19000,417760.0
3849,Neill Dela Llana,35.0,70071.0,Thriller,Ian Gamazon,Cavite,589,35.0,English,7000.0,2005.0,6.3,74,63071.0
3850,Robert Rodriguez,56.0,2040920.0,Action|Crime|Drama|Romance|Thriller,Carlos Gallardo,El Mariachi,52055,130.0,Spanish,7000.0,1992.0,6.9,0,2033920.0
3851,Edward Burns,14.0,4584.0,Comedy|Drama,Kerry Bishé,Newlyweds,1338,14.0,English,9000.0,2011.0,6.4,413,-4416.0
3852,Jon Gunn,43.0,85222.0,Documentary,John August,My Date with Drew,4285,84.0,English,1100.0,2004.0,6.6,456,84122.0

In [20]:
# Write your code for sorting the dataframe here
movies.sort_values('net_profit', ascending=False)

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,net_profit
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,2.370000e+08,2009.0,7.9,33000,5.235058e+08
28,Colin Trevorrow,644.0,652177271.0,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,1.500000e+08,2015.0,7.0,150000,5.021773e+08
25,James Cameron,315.0,658672302.0,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,2.000000e+08,1997.0,7.7,26000,4.586723e+08
2704,George Lucas,282.0,460935665.0,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,1.100000e+07,1977.0,8.7,33000,4.499357e+08
2748,Steven Spielberg,215.0,434949459.0,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,1.050000e+07,1982.0,7.9,34000,4.244495e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2147,Katsuhiro Ôtomo,105.0,410388.0,Action|Adventure|Animation|Family|Sci-Fi|Thriller,William Hootkins,Steamboy,13727,79.0,Japanese,2.127520e+09,2004.0,6.9,973,-2.127110e+09
2136,Hayao Miyazaki,174.0,2298191.0,Adventure|Animation|Fantasy,Minnie Driver,Princess Mononoke,221552,570.0,Japanese,2.400000e+09,1997.0,8.4,11000,-2.397702e+09
2693,Lajos Koltai,73.0,195888.0,Drama|Romance|War,Marcell Nagy,Fateless,5603,45.0,Hungarian,2.500000e+09,2005.0,7.1,607,-2.499804e+09
3282,Chan-wook Park,202.0,211667.0,Crime|Drama,Min-sik Choi,Lady Vengeance,53508,131.0,Korean,4.200000e+09,2005.0,7.7,4000,-4.199788e+09
2678,Joon-ho Bong,363.0,2201412.0,Comedy|Drama|Horror|Sci-Fi,Doona Bae,The Host,68883,279.0,Korean,1.221550e+10,2006.0,7.0,7000,-1.221330e+10

In [ ]:
top10 = # Write your code to get the top 10 profiting movies here

**Checkpoint:** You might spot two movies directed by `James Cameron` in the list.

#### <font color='red'>Question 6: Which movie is ranked 5th from the top in the list obtained? </font>
-  <font color='red'>E.T. the Extra-Terrestrial</font> -> Correct
-  <font color='red'>The Avengers</font>
-  <font color='red'>The Dark Knight</font>
-  <font color='red'>Titanic</font>

**Subtask 3.3: Find IMDb Top 250**

Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`).<br>Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000. 

Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.

In [27]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
# and name that dataframe as 'IMDb_Top_250'

IMDb_Top_250 = movies[movies['num_voted_users'] > 25000].sort_values('imdb_score', ascending=False).head(250)

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,net_profit
1795,Frank Darabont,199.0,28341469.0,Crime|Drama,Morgan Freeman,The Shawshank Redemption,1689764,4144.0,English,25000000.0,1994.0,9.3,108000,3341469.0
3016,Francis Ford Coppola,208.0,134821952.0,Crime|Drama,Al Pacino,The Godfather,1155770,2238.0,English,6000000.0,1972.0,9.2,43000,128821952.0
64,Christopher Nolan,645.0,533316061.0,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,185000000.0,2008.0,9.0,37000,348316061.0
2543,Francis Ford Coppola,149.0,57300000.0,Crime|Drama,Robert De Niro,The Godfather: Part II,790926,650.0,English,13000000.0,1974.0,9.0,14000,44300000.0
325,Peter Jackson,328.0,377019252.0,Action|Adventure|Drama|Fantasy,Orlando Bloom,The Lord of the Rings: The Return of the King,1215718,3189.0,English,94000000.0,2003.0,8.9,16000,283019252.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Jon Favreau,486.0,318298180.0,Action|Adventure|Sci-Fi,Robert Downey Jr.,Iron Man,696338,1055.0,English,140000000.0,2008.0,7.9,10000,178298180.0
73,Doug Liman,585.0,100189501.0,Action|Adventure|Sci-Fi,Tom Cruise,Edge of Tomorrow,431620,741.0,English,178000000.0,2014.0,7.9,77000,-77810499.0
3052,Yash Chopra,29.0,2921738.0,Drama|Musical|Romance,Shah Rukh Khan,Veer-Zaara,34449,119.0,Hindi,7000000.0,2004.0,7.9,2000,-4078262.0
95,Peter Jackson,645.0,303001229.0,Adventure|Fantasy,Aidan Turner,The Hobbit: An Unexpected Journey,637246,1367.0,English,180000000.0,2012.0,7.9,166000,123001229.0
3170,Christophe Barratier,112.0,3629758.0,Drama|Music,Jean-Baptiste Maunier,The Chorus,44151,110.0,French,5500000.0,2004.0,7.9,0,-1870242.0

In [29]:
# Addign rank column

IMDb_Top_250['Rank'] = range(1, len(IMDb_Top_250) + 1)

IMDb_Top_250

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,net_profit,Rank
1795,Frank Darabont,199.0,28341469.0,Crime|Drama,Morgan Freeman,The Shawshank Redemption,1689764,4144.0,English,25000000.0,1994.0,9.3,108000,3341469.0,1
3016,Francis Ford Coppola,208.0,134821952.0,Crime|Drama,Al Pacino,The Godfather,1155770,2238.0,English,6000000.0,1972.0,9.2,43000,128821952.0,2
64,Christopher Nolan,645.0,533316061.0,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,185000000.0,2008.0,9.0,37000,348316061.0,3
2543,Francis Ford Coppola,149.0,57300000.0,Crime|Drama,Robert De Niro,The Godfather: Part II,790926,650.0,English,13000000.0,1974.0,9.0,14000,44300000.0,4
325,Peter Jackson,328.0,377019252.0,Action|Adventure|Drama|Fantasy,Orlando Bloom,The Lord of the Rings: The Return of the King,1215718,3189.0,English,94000000.0,2003.0,8.9,16000,283019252.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Jon Favreau,486.0,318298180.0,Action|Adventure|Sci-Fi,Robert Downey Jr.,Iron Man,696338,1055.0,English,140000000.0,2008.0,7.9,10000,178298180.0,246
73,Doug Liman,585.0,100189501.0,Action|Adventure|Sci-Fi,Tom Cruise,Edge of Tomorrow,431620,741.0,English,178000000.0,2014.0,7.9,77000,-77810499.0,247
3052,Yash Chopra,29.0,2921738.0,Drama|Musical|Romance,Shah Rukh Khan,Veer-Zaara,34449,119.0,Hindi,7000000.0,2004.0,7.9,2000,-4078262.0,248
95,Peter Jackson,645.0,303001229.0,Adventure|Fantasy,Aidan Turner,The Hobbit: An Unexpected Journey,637246,1367.0,English,180000000.0,2012.0,7.9,166000,123001229.0,249
3170,Christophe Barratier,112.0,3629758.0,Drama|Music,Jean-Baptiste Maunier,The Chorus,44151,110.0,French,5500000.0,2004.0,7.9,0,-1870242.0,250

#### <font color='red'>Question 7: Suppose movies are divided into 5 buckets based on the IMDb ratings: </font>
-  <font color='red'>7.5 to 8</font>
-  <font color='red'>8 to 8.5</font>
-  <font color='red'>8.5 to 9</font>
-  <font color='red'>9 to 9.5</font>
-  <font color='red'>9.5 to 10</font>

<font color = 'red'> Which bucket holds the maximum number of movies from *IMDb_Top_250*? </font>

In Pandas, the ``pd.cut()`` function is a powerful tool for binning or categorizing continuous numerical data into discrete intervals. It's particularly useful when you want to analyze data based on ranges or groups.

Key Parameters:

x: The input array to be binned.<br>
bins: 
>- Integer: Defines the number of equal-width bins.<br>
>- Array-like: Defines the bin edges.<br>

labels: Optional labels for the bins.<br>
right: Boolean indicating whether the intervals include the rightmost edge or not.<br>
include_lowest: Boolean indicating whether the leftmost interval should include its lower bound.<br>
retbins: Boolean indicating whether to return the bins along with the categorized Series.

In [32]:
# Create bins for rating groups
bins = [7.5, 8, 8.5, 9, 9.5, 10]
labels = ['7.5-8', '8-8.5', '8.5-9', '9-9.5', '9.5-10']

# Categorize movies based on rating
IMDb_Top_250['Rating_Group'] = pd.cut(IMDb_Top_250['imdb_score'], bins=bins, labels=labels, right=False)

# Group by rating group and count movies
grouped_df = IMDb_Top_250.groupby('Rating_Group').size()

# Find the group with the highest number of movies
highest_group = grouped_df.idxmax()
highest_count = grouped_df.max()

In [33]:
print(highest_group)
print(highest_count)

8-8.5
159

**Subtask 3.4: Find the critic-favorite and audience-favorite actors**

   1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
   2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
   3. Group the combined dataframe using the `actor_1_name` column.
   4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

In [35]:
# Write your code for creating three new dataframes here
Meryl_Streep = movies[movies['actor_1_name'] == 'Meryl Streep']
Meryl_Streep

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,net_profit,Rating_Group
392,Nancy Meyers,187.0,112703470.0,Comedy|Drama|Romance,Meryl Streep,It's Complicated,69860,214.0,English,85000000.0,2009.0,6.6,0,27703470.0,NaN
1038,Curtis Hanson,42.0,46815748.0,Action|Adventure|Crime|Thriller,Meryl Streep,The River Wild,32544,69.0,English,45000000.0,1994.0,6.3,0,1815748.0,NaN
1132,Nora Ephron,252.0,94125426.0,Biography|Drama|Romance,Meryl Streep,Julie & Julia,79264,277.0,English,40000000.0,2009.0,7.0,13000,54125426.0,NaN
1322,David Frankel,208.0,124732962.0,Comedy|Drama|Romance,Meryl Streep,The Devil Wears Prada,286178,631.0,English,35000000.0,2006.0,6.8,0,89732962.0,NaN
1390,Robert Redford,227.0,14998070.0,Drama|Thriller|War,Meryl Streep,Lions for Lambs,41170,298.0,English,35000000.0,2007.0,6.2,0,-20001930.0,NaN
1471,Sydney Pollack,66.0,87100000.0,Biography|Drama|Romance,Meryl Streep,Out of Africa,52339,200.0,English,31000000.0,1985.0,7.2,0,56100000.0,NaN
1514,David Frankel,234.0,63536011.0,Comedy|Drama|Romance,Meryl Streep,Hope Springs,34258,178.0,English,30000000.0,2012.0,6.3,0,33536011.0,NaN
1563,Carl Franklin,64.0,23209440.0,Drama,Meryl Streep,One True Thing,9283,112.0,English,30000000.0,1998.0,7.0,592,-6790560.0,NaN
1784,Stephen Daldry,174.0,41597830.0,Drama|Romance,Meryl Streep,The Hours,102123,660.0,English,25000000.0,2002.0,7.6,0,16597830.0,7.5-8
2500,Phyllida Lloyd,331.0,29959436.0,Biography|Drama|History,Meryl Streep,The Iron Lady,82327,350.0,English,13000000.0,2011.0,6.4,18000,16959436.0,NaN
2793,Robert Altman,211.0,20338609.0,Comedy|Drama|Music,Meryl Streep,A Prairie Home Companion,19655,280.0,English,10000000.0,2006.0,6.8,683,10338609.0,NaN

In [41]:
Leo_Caprio = movies[movies['actor_1_name'] == 'Leonardo DiCaprio']
Leo_Caprio

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,net_profit,Rating_Group
25,James Cameron,315.0,658672302.0,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,200000000.0,1997.0,7.7,26000,458672302.0,7.5-8
49,Baz Luhrmann,490.0,144812796.0,Drama|Romance,Leonardo DiCaprio,The Great Gatsby,362912,753.0,English,105000000.0,2013.0,7.3,115000,39812796.0,NaN
94,Christopher Nolan,642.0,292568851.0,Action|Adventure|Sci-Fi|Thriller,Leonardo DiCaprio,Inception,1468200,2803.0,English,160000000.0,2010.0,8.8,175000,132568851.0,8.5-9
173,Alejandro G. Iñárritu,556.0,183635922.0,Adventure|Drama|Thriller|Western,Leonardo DiCaprio,The Revenant,406020,1188.0,English,135000000.0,2015.0,8.1,190000,48635922.0,8-8.5
246,Martin Scorsese,267.0,102608827.0,Biography|Drama,Leonardo DiCaprio,The Aviator,264318,799.0,English,110000000.0,2004.0,7.5,0,-7391173.0,7.5-8
283,Quentin Tarantino,765.0,162804648.0,Drama|Western,Leonardo DiCaprio,Django Unchained,955174,1193.0,English,100000000.0,2012.0,8.5,199000,62804648.0,8.5-9
293,Edward Zwick,166.0,57366262.0,Adventure|Drama|Thriller,Leonardo DiCaprio,Blood Diamond,400292,657.0,English,100000000.0,2006.0,8.0,14000,-42633738.0,8-8.5
294,Martin Scorsese,606.0,116866727.0,Biography|Comedy|Crime|Drama,Leonardo DiCaprio,The Wolf of Wall Street,780588,1138.0,English,100000000.0,2013.0,8.2,138000,16866727.0,8-8.5
312,Martin Scorsese,233.0,77679638.0,Crime|Drama,Leonardo DiCaprio,Gangs of New York,314033,1166.0,English,100000000.0,2002.0,7.5,0,-22320362.0,7.5-8
347,Martin Scorsese,352.0,132373442.0,Crime|Drama|Thriller,Leonardo DiCaprio,The Departed,873649,2054.0,English,90000000.0,2006.0,8.5,29000,42373442.0,8.5-9
431,Martin Scorsese,490.0,127968405.0,Mystery|Thriller,Leonardo DiCaprio,Shutter Island,786092,964.0,English,80000000.0,2010.0,8.1,53000,47968405.0,8-8.5
608,Ridley Scott,238.0,39380442.0,Action|Drama|Thriller,Leonardo DiCaprio,Body of Lies,174248,263.0,English,70000000.0,2008.0,7.1,0,-30619558.0,NaN
859,Steven Spielberg,194.0,164435221.0,Biography|Crime|Drama,Leonardo DiCaprio,Catch Me If You Can,525801,667.0,English,52000000.0,2002.0,8.0,15000,112435221.0,8-8.5
934,Danny Boyle,118.0,39778599.0,Adventure|Drama|Thriller,Leonardo DiCaprio,The Beach,176169,548.0,English,50000000.0,2000.0,6.6,0,-10221401.0,NaN
1046,Sam Mendes,323.0,22877808.0,Drama|Romance,Leonardo DiCaprio,Revolutionary Road,152591,414.0,English,35000000.0,2008.0,7.3,0,-12122192.0,NaN
1336,Randall Wallace,83.0,56876365.0,Action|Adventure,Leonardo DiCaprio,The Man in the Iron Mask,125219,244.0,English,35000000.0,1998.0,6.4,0,21876365.0,NaN
1364,Clint Eastwood,392.0,37304950.0,Biography|Crime|Drama,Leonardo DiCaprio,J. Edgar,102728,279.0,English,35000000.0,2011.0,6.6,16000,2304950.0,NaN
1457,Sam Raimi,63.0,18636537.0,Action|Thriller|Western,Leonardo DiCaprio,The Quick and the Dead,69197,216.0,English,32000000.0,1995.0,6.4,0,-13363463.0,NaN
1909,Jerry Zaks,45.0,12782508.0,Drama,Leonardo DiCaprio,Marvin's Room,20163,71.0,English,23000000.0,1996.0,6.7,1000,-10217492.0,NaN
2484,Baz Luhrmann,106.0,46338728.0,Drama|Romance,Leonardo DiCaprio,Romeo + Juliet,167750,506.0,English,14500000.0,1996.0,6.8,10000,31838728.0,NaN
3025,Baz Luhrmann,490.0,144812796.0,Drama|Romance,Leonardo DiCaprio,The Great Gatsby,362933,753.0,English,105000000.0,2013.0,7.3,115000,39812796.0,NaN

In [39]:
Brad_Pitt = movies[movies['actor_1_name'] == 'Brad Pitt']
Brad_Pitt

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,net_profit,Rating_Group
97,David Fincher,362.0,127490802.0,Drama|Fantasy|Romance,Brad Pitt,The Curious Case of Benjamin Button,459346,822.0,English,150000000.0,2008.0,7.8,23000,-22509198.0,7.5-8
142,Wolfgang Petersen,220.0,133228348.0,Adventure,Brad Pitt,Troy,381672,1694.0,English,175000000.0,2004.0,7.2,0,-41771652.0,NaN
243,Steven Soderbergh,198.0,125531634.0,Crime|Thriller,Brad Pitt,Ocean's Twelve,284852,627.0,English,110000000.0,2004.0,6.4,0,15531634.0,NaN
244,Doug Liman,233.0,186336103.0,Action|Comedy|Crime|Romance|Thriller,Brad Pitt,Mr. & Mrs. Smith,348861,798.0,English,120000000.0,2005.0,6.5,0,66336103.0,NaN
367,Tony Scott,142.0,26871.0,Action|Crime|Thriller,Brad Pitt,Spy Game,121259,361.0,English,92000000.0,2001.0,7.0,0,-91973129.0,NaN
383,Steven Soderbergh,186.0,183405771.0,Crime|Thriller,Brad Pitt,Ocean's Eleven,402645,845.0,English,85000000.0,2001.0,7.8,0,98405771.0,7.5-8
448,David Ayer,406.0,85707116.0,Action|Drama|War,Brad Pitt,Fury,303185,701.0,English,68000000.0,2014.0,7.6,82000,17707116.0,7.5-8
579,Jean-Jacques Annaud,76.0,37901509.0,Adventure|Biography|Drama|History|War,Brad Pitt,Seven Years in Tibet,96385,119.0,English,70000000.0,1997.0,7.0,0,-32098491.0,NaN
646,David Fincher,315.0,37023395.0,Drama,Brad Pitt,Fight Club,1347461,2968.0,English,63000000.0,1999.0,8.8,48000,-25976605.0,8.5-9
749,Patrick Gilmore,98.0,26288320.0,Adventure|Animation|Comedy|Drama|Family|Fantas...,Brad Pitt,Sinbad: Legend of the Seven Seas,36144,91.0,English,60000000.0,2003.0,6.7,880,-33711680.0,NaN
887,Neil Jordan,120.0,105264608.0,Drama|Fantasy|Horror,Brad Pitt,Interview with the Vampire: The Vampire Chroni...,239752,406.0,English,60000000.0,1994.0,7.6,11000,45264608.0,7.5-8
1397,Terrence Malick,584.0,13303319.0,Drama|Fantasy,Brad Pitt,The Tree of Life,136367,975.0,English,32000000.0,2011.0,6.7,39000,-18696681.0,NaN
1608,Andrew Dominik,273.0,3904982.0,Biography|Crime|Drama|History|Western,Brad Pitt,The Assassination of Jesse James by the Coward...,136104,415.0,English,30000000.0,2007.0,7.5,0,-26095018.0,7.5-8
2030,Alejandro G. Iñárritu,285.0,34300771.0,Drama,Brad Pitt,Babel,243799,908.0,English,25000000.0,2006.0,7.5,0,9300771.0,7.5-8
2146,Angelina Jolie Pitt,131.0,531009.0,Drama|Romance,Brad Pitt,By the Sea,7976,61.0,English,10000000.0,2015.0,5.3,0,-9468991.0,NaN
2428,Andrew Dominik,414.0,14938570.0,Crime|Thriller,Brad Pitt,Killing Them Softly,111625,369.0,English,15000000.0,2012.0,6.2,20000,-61430.0,NaN
2602,Tony Scott,122.0,12281500.0,Action|Crime|Drama|Romance|Thriller,Brad Pitt,True Romance,163492,460.0,English,13000000.0,1993.0,8.0,15000,-718500.0,8-8.5

In [43]:
# Write your code for combining the three dataframes here
Combined_df = pd.concat([Meryl_Streep, Brad_Pitt, Leo_Caprio], axis=0)

Combined_df.head(5)

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,net_profit,Rating_Group
392,Nancy Meyers,187.0,112703470.0,Comedy|Drama|Romance,Meryl Streep,It's Complicated,69860,214.0,English,85000000.0,2009.0,6.6,0,27703470.0,NaN
1038,Curtis Hanson,42.0,46815748.0,Action|Adventure|Crime|Thriller,Meryl Streep,The River Wild,32544,69.0,English,45000000.0,1994.0,6.3,0,1815748.0,NaN
1132,Nora Ephron,252.0,94125426.0,Biography|Drama|Romance,Meryl Streep,Julie & Julia,79264,277.0,English,40000000.0,2009.0,7.0,13000,54125426.0,NaN
1322,David Frankel,208.0,124732962.0,Comedy|Drama|Romance,Meryl Streep,The Devil Wears Prada,286178,631.0,English,35000000.0,2006.0,6.8,0,89732962.0,NaN
1390,Robert Redford,227.0,14998070.0,Drama|Thriller|War,Meryl Streep,Lions for Lambs,41170,298.0,English,35000000.0,2007.0,6.2,0,-20001930.0,NaN

In [44]:
# Write your code for grouping the combined dataframe here
Combined_df.groupby('actor_1_name').mean(['num_critic_for_reviews', 'num_user_for_reviews'])

,num_critic_for_reviews,gross,num_voted_users,num_user_for_reviews,budget,title_year,imdb_score,movie_facebook_likes,net_profit
actor_1_name,,,,,,,,,
Brad Pitt,245.000000,6.632145e+07,283583.823529,742.352941,6.929412e+07,2004.352941,7.152941,14051.764706,-2.972669e+06
Leonardo DiCaprio,330.190476,1.257420e+08,441958.857143,914.476190,8.245238e+07,2005.476190,7.495238,52190.476190,4.328961e+07
Meryl Streep,181.454545,5.991973e+07,73545.545455,297.181818,3.445455e+07,2003.545455,6.745455,2934.090909,2.546518e+07

In [ ]:
# Write the code for finding the mean of critic reviews and audience reviews here

#### <font color='red'>Question 8: Which actor is highest rated among the three actors according to the user reviews? </font>
-  <font color='red'>Meryl Streep</font>
-  <font color='red'>Leonardo DiCaprio</font>
-  <font color='red'>Brad Pitt</font>

#### <font color='red'>Question 9: Which actor is highest rated among the three actors according to the critics?</font>
-  <font color='red'>Meryl Streep</font>
-  <font color='red'>Leonardo DiCaprio</font>
-  <font color='red'>Brad Pitt</font>